<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.MessageMapper">

	<insert id="create">
		INSERT INTO tbl_message (mno, targetid, sender, message)
		VALUES (SEQ_TBL_MESSAGE.NEXTVAL, #{targetid}, #{sender}, #{message})
	</insert>


	<select id="readMessage" resultType="MessageVO">
		SELECT * from tbl_message WHERE mno = #{mno}
	</select>

	<update id="updateState">
		UPDATE tbl_message SET opendate = SYSDATE where mno= #{mno}
	</update>

</mapper>
