<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.UserLoginMapper">

	<select id="login" resultType="UserLoginVO">
		SELECT	user_id,
				user_password,
				user_name
		FROM	te_userinformation
		WHERE	user_id = #{user_id}
		AND		user_password = #{user_password}
	</select>
  
	<update id="keepLogin" >
		UPDATE te_userinformation SET 	sessionKey = #{sessionId},
	  									sessionLimit = #{next}
		WHERE user_id = #{user_id}
	</update>

	<select id="checkUserWithSessionKey" resultType="UserLoginVO">
		SELECT 	*
		FROM	te_userinformation
		WHERE	sessionKey = #{value}
		AND		sessionlimit > SYSDATE
	</select>	

</mapper>


